<a href="https://colab.research.google.com/github/TharindaAdhikari/ML_Assignment2_IT19037752_IT19047966_IT19189390/blob/ML_Development/Customer_Segmentaion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CUSTOMER SEGMENTATION IN RETAIL

![link text](https://miro.medium.com/max/681/1*iejTpHhx-u_R73XQD0GFkg.jpeg)

## What is customer segmentation ?

Customer Segmentation is the process of dividing customers into groups based on common characteristics so companies can market to each group effectively and appropriately. Customers are segmented according to their similarities in behavior and habits.In this project my team and I implemented two unsupervised machine learning algorithms: K-means, RDF .. . In collaboration with a online retail. Our goal is to segment their customers given the customer’s various behaviors and features, in order for the company to be able to market for each segment in a manner that is more fitting to each individual customer.

> There are different methodologies for customer segmentation, and they depend on four types of parameters:

* **Geographic** 
* **Demographic** 
* **Behavioral**
* **Psychological**

## Advantages of customer segmentation

> Implementing customer segmentation leads to plenty of new business opportunities. You can do a lot of optimization in:

* Budgeting 
* Product design 
* Promotion 
* Marketing 
* Customer satisfaction

## Macine learning approach for customer segmentation and market analytics

This project based on a data sample from a UK-based non-store online retail, author
identify that are important of Customer segmentation and market analytics Further,
tried to find out the Identifying potential customers and their unsatisfied
customer needs this enables marketers to create targeted marketing messages for a
specific group of customers which increases the chances of the person buying a
product.

#### Data Set Information:
This Online Retail II data set contains all the transactions occurring for a UK-based and registered, non-store online retail between 01/12/2009 and 09/12/2011.The company mainly sells unique all-occasion gift-ware. Many customers of the company are wholesalers.

**Link to the Data Set:** https://archive.ics.uci.edu/ml/datasets/Online+Retail+II

#### Attribute Information:
* InvoiceNo: Invoice number. Nominal. A 6-digit integral number uniquely assigned to each transaction. If this code starts with the letter 'c', it indicates a cancellation.
* StockCode: Product (item) code. Nominal. A 5-digit integral number uniquely assigned to each distinct product.
* Description: Product (item) name. Nominal.
* Quantity: The quantities of each product (item) per transaction. Numeric.
* InvoiceDate: Invice date and time. Numeric. The day and time when a transaction was generated.
* UnitPrice: Unit price. Numeric. Product price per unit in sterling (Â£).
* CustomerID: Customer number. Nominal. A 5-digit integral number uniquely assigned to each customer.
* Country: Country name. Nominal. The name of the country where a customer resides.

## Data Cleaning

In [1]:
#Importing libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")
import plotly.express as px
from mpl_toolkits.mplot3d import Axes3D
import plotly.graph_objs as go
from plotly import tools
from plotly.subplots import make_subplots
import plotly.offline as py

from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_samples, silhouette_score
from sklearn.preprocessing import StandardScaler
import matplotlib.cm as cm
import scipy.cluster.hierarchy as sch

In [2]:
#Read datset
data = pd.read_excel('online_retail_II.xlsx', sheet_name='Year 2009-2010')

In [3]:
#print first 5 rows
data.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [4]:
#print last 5 rows
data.tail()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
525456,538171,22271,FELTCRAFT DOLL ROSIE,2,2010-12-09 20:01:00,2.95,17530.0,United Kingdom
525457,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525458,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525459,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525460,538171,21931,JUMBO STORAGE BAG SUKI,2,2010-12-09 20:01:00,1.95,17530.0,United Kingdom

In [5]:
# information about a DataFrame
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525461 entries, 0 to 525460
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      525461 non-null  object
 1   StockCode    525461 non-null  object
 2   Description  522533 non-null  object
 3   Quantity     525461 non-null  int64
 4   InvoiceDate  525461 non-null  datetime64[ns]
 5   Price        525461 non-null  float64
 6   Customer ID  417534 non-null  float64
 7   Country      525461 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 32.1+ MB

In [6]:
#print some basic statistical details
data.describe()

            Quantity          Price    Customer ID
count  525461.000000  525461.000000  417534.000000
mean       10.337667       4.688834   15360.645478
std       107.424110     146.126914    1680.811316
min     -9600.000000  -53594.360000   12346.000000
25%         1.000000       1.250000   13983.000000
50%         3.000000       2.100000   15311.000000
75%        10.000000       4.210000   16799.000000
max     19152.000000   25111.090000   18287.000000

In [7]:
#find null variables
data.isnull().sum()

Invoice             0
StockCode           0
Description      2928
Quantity            0
InvoiceDate         0
Price               0
Customer ID    107927
Country             0
dtype: int64

In [8]:
print("Total Transactions :",data.shape[0])

Total Transactions : 525461

In [9]:
#Number of duplicates
print('Total Number of Duplicated Transaction:',data.duplicated().sum())

Total Number of Duplicated Transaction: 6865

In [10]:
# dropping duplicate values 
data.drop_duplicates(keep=False,inplace=True)

In [11]:
# shape of data after duplication
print('Total Number of Transaction after dropping the Duplicated Transactions :',data.shape[0])

Total Number of Transaction after dropping the Duplicated Transactions : 512178

In [12]:
# Checking for cancelled transactions
cancelled_data = data[data['Invoice'].astype(str).str[0] == 'C']
cancelled_data.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
178,C489449,22087,PAPER BUNTING WHITE LACE,-12,2009-12-01 10:33:00,2.95,16321.0,Australia
179,C489449,85206A,CREAM FELT EASTER EGG BASKET,-6,2009-12-01 10:33:00,1.65,16321.0,Australia
180,C489449,21895,POTTING SHED SOW 'N' GROW SET,-4,2009-12-01 10:33:00,4.25,16321.0,Australia
181,C489449,21896,POTTING SHED TWINE,-6,2009-12-01 10:33:00,2.10,16321.0,Australia
182,C489449,22083,PAPER CHAIN KIT RETRO SPOT,-12,2009-12-01 10:33:00,2.95,16321.0,Australia

In [13]:
print('Total Number of Cancelled Transactions: ' ,cancelled_data.shape[0])

Total Number of Cancelled Transactions:  10159

In [14]:
# Dropping the cancelled transactions
data = data.drop(index=data[data['Invoice'].astype(str).str[0] == 'C'].index)

In [15]:
#after removing cancelled data from dataframe 
print('Total Number of Transaction after dropping the Cancelled Transactions :',data.shape[0])

Total Number of Transaction after dropping the Cancelled Transactions : 502019

In [16]:
# Checking for missing values
data.isnull().sum()

Invoice             0
StockCode           0
Description      2928
Quantity            0
InvoiceDate         0
Price               0
Customer ID    107381
Country             0
dtype: int64

In [17]:
#Dropping the missing values
data.dropna(axis = 0, subset = ['Customer ID'], inplace = True)

In [18]:
# Checking for missing values
data.isnull().sum()

Invoice        0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
Price          0
Customer ID    0
Country        0
dtype: int64

In [19]:
print('Total Number of Transactions after dropping the missing values :',data.shape[0])

Total Number of Transactions after dropping the missing values : 394638

In [20]:
data.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [21]:
#print some basic statistical details
data.describe()

            Quantity          Price    Customer ID
count  394638.000000  394638.000000  394638.000000
mean       13.943409       3.316140   15354.624375
std        98.403649      35.323936    1681.578867
min         1.000000       0.000000   12346.000000
25%         2.000000       1.250000   13979.000000
50%         6.000000       1.950000   15311.000000
75%        12.000000       3.750000   16798.000000
max     19152.000000   10953.500000   18287.000000

In [22]:
#Adding Desired Features
data['FinalPrice'] = data['Quantity'] * data['Price']
data['month'] = data['InvoiceDate'].dt.month
data['year'] = data['InvoiceDate'].dt.year
data['WeekDay'] = data['InvoiceDate'].dt.day_name()
data['month_year'] = pd.to_datetime(data[['year', 'month']].assign(Day=1))
data['hour'] = data['InvoiceDate'].dt.hour

In [23]:
data.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,FinalPrice,month,year,WeekDay,month_year,hour
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,83.4,12,2009,Tuesday,2009-12-01,7
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.0,12,2009,Tuesday,2009-12-01,7
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.0,12,2009,Tuesday,2009-12-01,7
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,100.8,12,2009,Tuesday,2009-12-01,7
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,30.0,12,2009,Tuesday,2009-12-01,7

In [24]:
#Check register with UnitPrice negative
print('Check register with UnitPrice negative:')
display(data[(data.Price<0)])
print("Sales records with Customer ID and zero in Unit Price:",data[(data['Price']==0)  & ~(data['Customer ID'].isnull())].shape[0])
data[(data['Price']==0)  & ~(data['Customer ID'].isnull())]

Check register with UnitPrice negative:

Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country, FinalPrice, month, year, WeekDay, month_year, hour]
Index: []

Sales records with Customer ID and zero in Unit Price: 31

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,FinalPrice,month,year,WeekDay,month_year,hour
4674,489825,22076,6 RIBBONS EMPIRE,12,2009-12-02 13:34:00,0.0,16126.0,United Kingdom,0.0,12,2009,Wednesday,2009-12-01,13
6781,489998,48185,DOOR MAT FAIRY CAKE,2,2009-12-03 11:19:00,0.0,15658.0,United Kingdom,0.0,12,2009,Thursday,2009-12-01,11
16107,490727,M,Manual,1,2009-12-07 16:38:00,0.0,17231.0,United Kingdom,0.0,12,2009,Monday,2009-12-01,16
18738,490961,22065,CHRISTMAS PUDDING TRINKET POT,1,2009-12-08 15:25:00,0.0,14108.0,United Kingdom,0.0,12,2009,Tuesday,2009-12-01,15
18739,490961,22142,CHRISTMAS CRAFT WHITE FAIRY,12,2009-12-08 15:25:00,0.0,14108.0,United Kingdom,0.0,12,2009,Tuesday,2009-12-01,15
32916,492079,85042,ANTIQUE LILY FAIRY LIGHTS,8,2009-12-15 13:49:00,0.0,15070.0,United Kingdom,0.0,12,2009,Tuesday,2009-12-01,13
40101,492760,21143,ANTIQUE GLASS HEART DECORATION,12,2009-12-18 14:22:00,0.0,18071.0,United Kingdom,0.0,12,2009,Friday,2009-12-01,14
47126,493761,79320,FLAMINGO LIGHTS,24,2010-01-06 14:54:00,0.0,14258.0,United Kingdom,0.0,1,2010,Wednesday,2010-01-01,14
48342,493899,22355,"CHARLOTTE BAG , SUKI DESIGN",10,2010-01-08 10:43:00,0.0,12417.0,Belgium,0.0,1,2010,Friday,2010-01-01,10
57619,494607,21533,RETRO SPOT LARGE MILK JUG,12,2010-01-15 12:43:00,0.0,16858.0,United Kingdom,0.0,1,2010,Friday,2010-01-01,12
89084,497819,TEST001,This is a test product.,5,2010-02-12 14:58:00,0.0,14103.0,United Kingdom,0.0,2,2010,Friday,2010-02-01,14
89180,497843,TEST001,This is a test product.,5,2010-02-12 15:47:00,0.0,14827.0,United Kingdom,0.0,2,2010,Friday,2010-02-01,15
111348,500073,21662,VINTAGE GLASS COFFEE CADDY,1,2010-03-04 11:44:00,0.0,13047.0,United Kingdom,0.0,3,2010,Thursday,2010-03-01,11
149201,503585,22459,CAST IRON HOOK GARDEN TROWEL,8,2010-04-01 17:13:00,0.0,13047.0,United Kingdom,0.0,4,2010,Thursday,2010-04-01,17
149202,503585,22458,CAST IRON HOOK GARDEN FORK,8,2010-04-01 17:13:00,0.0,13047.0,United Kingdom,0.0,4,2010,Thursday,2010-04-01,17
166143,505083,22376,AIRLINE BAG VINTAGE JET SET WHITE,1,2010-04-20 09:56:00,0.0,12623.0,Germany,0.0,4,2010,Tuesday,2010-04-01,9
232526,511902,21765,HANGING METAL BIRD BATH,1,2010-06-11 11:12:00,0.0,12748.0,United Kingdom,0.0,6,2010,Friday,2010-06-01,11
240455,512609,20914,SET/5 RED SPOTTY LID GLASS BOWLS,2,2010-06-17 10:12:00,0.0,14045.0,United Kingdom,0.0,6,2010,Thursday,2010-06-01,10
248583,513416,22423,REGENCY CAKESTAND 3 TIER,5,2010-06-24 12:34:00,0.0,13089.0,United Kingdom,0.0,6,2010,Thursday,2010-06-01,12
276858,516304,22690,DOORMAT HOME SWEET HOME BLUE,6,2010-07-19 13:13:00,0.0,14025.0,United Kingdom,0.0,7,2010,Monday,2010-07-01,13
296375,518231,22472,TV DINNER TRAY DOLLY GIRL,9,2010-08-05 15:28:00,0.0,12471.0,Germany,0.0,8,2010,Thursday,2010-08-01,15
327801,521375,22202,MILK PAN PINK RETROSPOT,3,2010-09-05 11:58:00,0.0,12647.0,Germany,0.0,9,2010,Sunday,2010-09-01,11
358820,524181,46000M,POLYESTER FILLER PAD 45x45cm,648,2010-09-27 16:59:00,0.0,17450.0,United Kingdom,0.0,9,2010,Monday,2010-09-01,16
364333,524701,22218,CAKE STAND LACE WHITE,2,2010-09-30 12:19:00,0.0,17667.0,United Kingdom,0.0,9,2010,Thursday,2010-09-01,12
392008,527084,22630,DOLLY GIRL LUNCH BOX,64,2010-10-14 15:33:00,0.0,14646.0,Netherlands,0.0,10,2010,Thursday,2010-10-01,15
400047,527696,22121,NOEL WOODEN BLOCK LETTERS,1,2010-10-18 15:13:00,0.0,13554.0,United Kingdom,0.0,10,2010,Monday,2010-10-01,15
439309,531361,21843,RED RETROSPOT CAKE STAND,2,2010-11-07 14:26:00,0.0,12820.0,United Kingdom,0.0,11,2010,Sunday,2010-11-01,14
453705,532470,22624,IVORY KITCHEN SCALES,2,2010-11-12 11:41:00,0.0,12647.0,Germany,0.0,11,2010,Friday,2010-11-01,11
471775,533822,22846,BREAD BIN DINER STYLE RED,1,2010-11-19 09:40:00,0.0,12647.0,Germany,0.0,11,2010,Friday,2010-11-01,9
471776,533822,22845,VINTAGE CREAM CAT FOOD CONTAINER,1,2010-11-19 09:40:00,0.0,12647.0,Germany,0.0,11,2010,Friday,2010-11-01,9
512240,537197,22841,ROUND CAKE TIN VINTAGE GREEN,1,2010-12-05 14:02:00,0.0,12647.0,Germany,0.0,12,2010,Sunday,2010-12-01,14

In [25]:
# Remove register withou CustomerID
data = data[~(data['Customer ID'].isnull())]

# Remove negative or return transactions
data = data[~(data.Quantity<0)]
data = data[data.Price>0]

In [26]:
data.shape

(394607, 14)

In [27]:
data.dtypes

Invoice                object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
Price                 float64
Customer ID           float64
Country                object
FinalPrice            float64
month                   int64
year                    int64
WeekDay                object
month_year     datetime64[ns]
hour                    int64
dtype: object